#wrapper {

  margin-right: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .3);
  transform: rotate(-2deg);
  border: 10px solid #fff;
}

.background img,
.foreground img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
/********BACKGROUND********/
.background,
.foreground {
  position: absolute;
  left: -55px;
  z-index: 1;
  animation-name: background;
  animation-duration: 60s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


@keyframes background {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  100% {
    transform: translateX(10px) translateY(-190px);
  }

}


/********FOREGROUND********/
.foreground {
  width: 100%;
  z-index: 2;
  -moz-animation-name: foreground;
  -ms-animation-name: foreground;
  -o-animation-name: foreground;
  -webkit-animation-name: foreground;
  animation-name: foreground;
}

@keyframes foreground {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3) translateX(-350px);
    filter: blur(1px);
  }
}

@media (max-width: 600px) {
  @keyframes background {
    0% {
      transform: translateX(100px) translateY(100px);
    }
    100% {
      transform: translateX(5px) translateY(100px);
    }
  }

  @keyframes foreground {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(3) translateX(-100px);
      filter: blur(1px);
    }
  }
}