
.TextBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-top: 60%; /* controls distance from top */
  animation-name: Word;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.Word {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  color: #3b3b3b;
}

@keyframes Word {
    0% {
        transform: translateX(0px) translateY(-70%);
      }
    
      100% {
        transform: translateX(0px) translateY(70%);
      }
}

.Name {
    font-size: 300%;
    color: #3b3b3b;
    font-family: "Dancing Script", cursive;
}
 
  .background img {
    width: 100%;
    object-fit: cover;
  }
  /********BACKGROUND********/
  .background {
    position: absolute;
    z-index: 1;
    animation-name: background;
    animation-duration: 10s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  
  
  @keyframes background {
    0% {
        transform: translateX(0px) translateY(0px);
      }
    
      100% {
        transform: translateX(0px) translateY(-70%);
      }
}
  
@media screen and (min-width: 500px)  {
  @keyframes background {
    0% {
        transform: translateX(0px) translateY(0px);
      }
    
      100% {
        transform: translateX(0px) translateY(-60%);
      }
}
@keyframes Word {
  0% {
      transform: translateX(0px) translateY(-70%);
    }
  
    100% {
      transform: translateX(0px) translateY(90%);
    }
}
}

@media screen and (min-width: 660px) {
  @keyframes background {
    0% {
        transform: translateX(0px) translateY(0px);
      }
    
      100% {
        transform: translateX(0px) translateY(-55%);
      }
}
@keyframes Word {
  0% {
      transform: translateX(0px) translateY(-70%);
    }
  
    100% {
      transform: translateX(-20%) translateY(70%);
    }
}
}

@media screen and (min-width: 750px) {
  @keyframes background {
    0% {
        transform: translateX(0px) translateY(0px);
      }
    
      100% {
        transform: translateX(50px) translateY(-60%);
      }
}
@keyframes Word {
  0% {
      transform: translateX(0px) translateY(-70%);
    }
  
    100% {
      transform: translateX(-20%) translateY(55%);
    }
}
}

@media screen and (min-width: 990px) {
  .background img {
    width: 80%;
    max-height: 70vh;
  }
  .background {
    animation: background 10s infinite alternate;
  }
  @keyframes background {
    0% {
      transform: translateX(-40%) translateY(0px);
    }

    100% {
      transform: translateX(271%) translateY(0px);
    }
  
}
.Name {
  font-size: 250%;
}
.Word {
  font-size: 200%;

}
.TextBlock {
  padding-top: 45%;
  animation: none !important;
  padding-top: 5%;
}
.Wrapper {
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .3);
  transform: rotate(-2deg);
  background-color: #bfa5a0;
}

}