.NavBar {
    background-color: #3b3b3b !important;
}

.NavLink {
    font-family: "Dancing Script", cursive;
    font-size: large;
    color: #bfa5a0;
}

i {
    color: #bfa5a0;
}

i:hover {
    color: #f7f5f2;
}

  /* Add a hamburger icon manually */
.Hamburger {
    border: #bfa5a0  1px solid;
    color: #bfa5a0 !important;
}

.Hamburger::after {
    border-color: #bfa5a0;
}
